[submodule "helloApp"]
	path = helloApp
	url = https://github.com/AndreSTich/helloApp.git
[submodule "twoApp"]
	path = twoApp
	url = https://github.com/AndreSTich/twoApp.git
[submodule "threeApp"]
	path = threeApp
	url = https://github.com/AndreSTich/threeApp.git
[submodule "fourApp"]
	path = fourApp
	url = https://github.com/AndreSTich/threeApp.git
	branch = lab4
[submodule "fiveApp"]
	path = fiveApp
	url = https://github.com/AndreSTich/threeApp.git
	branch = lab5
[submodule "sixApp"]
	path = sixApp
	url = https://github.com/AndreSTich/threeApp.git
	branch = lab6
